---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Tickets from "@/components/Tickets.astro";
import Competitions from "@/components/Competitions.astro";
import Shows from "@/components/Shows.astro";
import Sponsors from "@/components/Sponsors.astro";
import Faq from "@/components/Faq.tsx";
import About from "@/components/About.astro";
import Central from "@/components/Central.astro";
import EventGallery from "@/components/EventGallery.astro";
---

<Layout title='Olimpiada de Asadores — 2.ª Edición' textColor='text-black'>
  <Hero />
  <main>
    <About />
    <Central />
    <Shows />
    <Competitions />
    <EventGallery />
    <Tickets />
    <Sponsors />
    <Faq client:load />
  </main>
</Layout>
