<section id='conoce_mas' data-section class='section scroll-mt-20'>
  <div class='container text-center'>
    <h2 class='section-title'>Que es la Olimpiada de Asadores?</h2>
    <h3 class='text-2xl'>
      La Olimpiada de Asadores reúne a los mejores parrilleros del país en una
      competencia única que define al gran campeón. El escenario se enciende con
      artistas de trayectoria nacional y espectáculos folclóricos en vivo.
      Además, el público puede participar en juegos y desafíos criollos mientras
      disfruta de la mejor comida: un verdadero banquete de tradición argentina.
    </h3>
  </div>
</section>
